header {
  background-color: rgb(132, 0, 0);
  width: 100%;
  position: absolute;
  top: 0;
}
.header-title-link {
  text-decoration: none;
  color: white;
  font-size: 6em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}
.Main-Title {
  padding: 10px 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
}
